:root {
    --hover-link: #05ff3c;
    --margin-nav-li: 1.75rem;
    --fs-description: 1.25em;
    --title-size: 2.5em;
    
    
    
    @media screen and (min-width: 500px) {
        --fs-description: 1.4em;
        --title-size: 2.75em;
    }
    
    @media screen and (min-width: 992px) {
        --fs-description: 1.5em;
        --title-size: 3em;
    }
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

input[type="file"] {
   padding-bottom: 2.25rem;
   
}

label {
    font-size: 1.1em !important;
}

.display-4 {
    font-size: var(--title-size) !important;
}

.errores {
    p {
        color: #f00;
        font-weight: bold;
        font-size: 1.5em;
        text-align: center;
    }
}